.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.login-box {
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 45px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #ffffff;
    width: 450px;
    text-align: center;
    z-index: 1;
    margin: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s ease, visibility 1.5s ease;
}

.login-box.show {
    opacity: 1;
    visibility: visible;
}

.chook {
    margin-bottom: 20px;
    color: #ffffff;
}

#next-button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

#next-button:hover {
    background-color: #b55b00;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    cursor: pointer;
}

.small-text {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    opacity: 0.7;
}
.box1 {
    border: 2px solid #F6F276;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 400px;
    height: 500px;
    clear: right;
    float: right;
    background-color: #434343;
}
.box1 h3 {
    background-color: #D86C00;
}

.box2 {
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    width: 300px;
    height: 350px;
    clear: right;
    float: right;
    color: #000000;
    background-color: #FFFFFF;
}

body {
    background-color: black;
    color: white;
    opacity: 0;
    animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.title {
    margin: 10px;
    font-size: 18px;
}
.title h2 {
    background-color: #000000;
    border: 1px solid #F6F276;
    border-radius: 5px;
    padding: 5px;
}
.title_text {
    font-weight: 900;
    color: #FF8900;
}

.title2 {
    margin: 10px;
    font-size: 18px;
}
.title2 h2 {
    background-color: #000000;
    border: 1px solid #F6F276;
    border-radius: 5px;
    padding: 5px;
}
.title2_text {
    font-weight: 900;
    color: #FF0000;
}

.tooltip {
    position: relative;
    cursor: pointer;
    text-decoration: underline;
    color: #FF81EB;
}
.tooltip .tooltipimg {
    visibility: hidden;
    width: 250px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    color: white;
    position: absolute;
    z-index: 1;
    bottom: -350%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.5s;
}
.tooltip .tooltiptxt {
    visibility: hidden;
    width: 250px;
    text-align: center;
    border: 2px solid black;
    background-color: cornsilk;
    border-radius: 5px;
    padding: 5px;
    color: indianred;
    position: absolute;
    z-index: 1;
    bottom: -350%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip:hover .tooltipimg, .tooltip:hover .tooltiptxt {
    visibility: visible;
    opacity: 1;
}

.Mya {
     overflow: hidden;
}


.button {
    margin-top: 5%;
    margin-left: 90%;
    font-size: 30px;
    background-color: beige;
    border-radius: 5px;
}

.box3 {
    border: 2px solid #F6F276;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 400px;
    height: 500px;
    clear: right;
    float: right;
    background-color: #434343;
}
.box3 h3 {
    background-color: #000000;
    color: #FF0000;
}

.chook2 {
    clear: right;
    float: right;
    width: 45%;
}
.chook2 h3 {
    background-color: #FFA41A;
}

.chook1 {
    clear: left;
    float: left;
    width: 45%;
}
.chook1 h3 {
    background-color: #FFA41A;
}



.gallery {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    background-color: black;
}

.photo-container {
    text-align: center;
}
.photo-container img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.photo-container p {
    margin-top: 10px;
    font-size: 18px;
    color: white;
}

.background1_set {
    background-color: #000000;
}

.background2_set {
    background-color: #333333;
    border-radius: 15px;
    color: #EBEBEB;
    border: 1px solid #F6F276;
    margin-left: 50px;
    margin-right: 50px;
}

.title table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}
.title th, .title td {
    border: 1px solid #F6F276;
    text-align: center;
    padding: 8px;
}
.title th {
    background-color: #000000;
    color: #D86C00;
}

.title2 table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}
.title2 th, .title2 td {
    border: 1px solid #F6F276;
    text-align: center;
    padding: 8px;
}
.title2 th {
    background-color: #000000;
    color: #FF0000;
}

.url_txt {
    color: #00FF6F;
    text-decoration: underline;
}
